<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans         
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd        
      http://www.springframework.org/schema/aop         
      http://www.springframework.org/schema/aop/spring-aop-4.0.xsd        
      http://www.springframework.org/schema/context         
      http://www.springframework.org/schema/context/spring-context-4.0.xsd        
      http://www.springframework.org/schema/tx         
      http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
      http://www.springframework.org/schema/cache 
      http://www.springframework.org/schema/cache/spring-cache-4.0.xsd">
      
      	<bean
		class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
		<!-- 配置在java类中能够使用Annotation -->
		<context:annotation-config />
		<!-- 配置Annotaton 版本的bean -->
		<context:component-scan base-package="main.java" />
		
		
	<!-- 使用annotation定义事务 -->
	<tx:annotation-driven proxy-target-class="true"
		transaction-manager="transactionManager" />

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath:main/java/generator/xml/*Mapper.xml" />
		<property name="typeAliasesPackage" value="main.java.generator.model" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!--指定要扫描包： 多个包用逗号隔开 -->
		<property name="basePackage" value="main.java.generator.dao" />
		<!--指定sqlSessionFactory -->
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/writ?autoReconnect=true&amp;characterEncoding=UTF-8" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	
<!-- 	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/nrm?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean> -->
	
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" isolation="DEFAULT"/>
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<!-- 只对业务逻辑层实施事务 -->
		<aop:pointcut id="serviceOperation"
			expression="execution(* main.java.generator.service..*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation" />
	</aop:config>

</beans>